
.product-page {
  padding: 24px 40px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;  
}

.filters-row {
  display: flex;
  gap: 24px;
  margin-bottom: 32px;
  justify-content: center;   
  align-items: center;
}

.search-input {
  width: 300px;
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 30px;
  font-size: 16px;
  outline: none;
}

.filter-select {
  padding: 12px 16px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 28px;
  justify-items: center;    
  width: 100%;
  max-width: 1100px;       
}
