.dropdown-container {
  position: relative;
  width: 200px;
}

.filters-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
  width: 100%;
}
.filter-select {
  width: 200px;
  height: 50px;
}

.dropdown-display {
  background: white;
  border: 1px solid #ccc;
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
}

.dropdown-menu {
  position: absolute;
  top: 46px;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  z-index: 10;
  max-height: 180px;
  overflow-y: auto;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 4px;
  cursor: pointer;
}

.dropdown-item:hover {
  background: #f3f3f3;
}

.arrow {
  font-size: 12px;
  margin-left: 8px;
}
